
.container{
    background-color: rgb(87, 87, 87);
    text-align: center;
    border-style: groove;
    border-color: hsl(0, 0%, 71%);
    max-width: 80vw;
    margin: auto;
    padding: 10px 20px;
}
@media (min-width: 812px){
    .container{
        max-width: 650px;
    }
}

.card{
    margin: auto;
}

.card-body{
    background-color: rgb(96, 98, 119)
}

.portfolio-img{
    height: 9 rem;
}

.project-sites{
    height: 28px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    font-weight: bold;
}

.site-link{
    color: black;
    font-size: medium;
}

.icon-link{
    padding: 0px 20px;
    font-size: 20px;
}

#card-rows{
    margin-top: 15px;
}

#bootstrap-overrides-body{
    background-color: rgb(39, 39, 39);
}

#page-title{
    font-family: sans-serif;
    font-size: 32px;
    color: white
}

#github-icon,
#linkedin-icon{
    color: rgb(22, 22, 49)
}
