
.container{
    background-color: rgb(87, 87, 87);
    text-align: center;
    border-style: groove;
    border-color: hsl(0, 0%, 71%);
    max-width: 650px;
    margin: auto;
    padding: 10px 20px;
}

.card-body{
    background-color: rgb(96, 98, 119)
}

#card-rows{
    margin-top: 15px;
}

#bootstrap-overrides-body{
    background-color: rgb(39, 39, 39);
}

#page-title{
    font-family: sans-serif;
    font-size: 32px;
    color: white
}
