#bootstrap-overrides{
    background-color: rgb(39, 39, 39);
}

#bio-title{
    font-family: sans-serif;
    font-size: 32px;
}

.container{
    background-color: rgb(87, 87, 87);
    color: white;
    border-style: groove;
    border-color: hsl(0, 0%, 71%);
    padding: 20px;
}

.col-lg-5{
    float: right;
}

