
#bootstrap-overrides-body{
    background-color: rgb(39, 39, 39);
}

#page-title{
    font-family: sans-serif;
    font-size: 32px;
}

.container{
    background-color: rgb(87, 87, 87);
    color: white;
    border-style: groove;
    border-color: hsl(0, 0%, 71%);
    padding: 10px 20px;
    max-width: 80vw;
    margin: auto;
} @media(min-width: 1200px){
    .container{
        max-width: 960px;
    }
}

.icon-link{
    padding: 0px 20px;
    font-size: 20px;
}

#github-icon,
#linkedin-icon{
    color: rgb(22, 22, 49)
}

/* About Me Page Styling */

.about-me{
    padding: 10px
}

.profile-img{
    text-align: center;
    margin: auto;
    padding-right: 5px;
    
}

.tolu-2012{
    margin: auto;
    border-radius: 8px;
    border-color: hsla(0, 0%, 86%, 0.767);
    border-width: 2px;
    border-style: solid;
}

.bio-text {
    padding: 5px;
}

/* Contact Form Page Styling */
#submit-btn{
    text-align: center;
}

.form-label{
    padding-left: 0px;
    text-align: left;
}



