body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background-color: rgb(235, 235, 141);
}

p{
    color: rgba(255, 255, 255, 0.7);
}

textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    border-left: 1px solid black;
    padding: 10px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.700);
    border-radius: 0;
    border-bottom: 10px solid black;
}

.jumbotron[data-day='1']{
    background: url("./images/monday.jpg");
    background-size: cover;
    background-position: 0% 25%; 
}

.jumbotron[data-day='2']{
    background: url("./images/tuesday.jpg");
    background-size: cover;
    background-position: 0% 70%; 
}

.jumbotron[data-day='3']{
    background: url("./images/wednesday.jpg");
    background-size: cover;
    background-position: 0% 25%; 
}

.jumbotron[data-day='4']{
    background: url("./images/thursday.jpg");
    background-size: cover;
    background-position: 0% 35%; 
}

.jumbotron[data-day='5']{
    background: url("./images/friday.jpg");
    background-size: cover;
    background-position: 0% 35%; 
}
.jumbotron[data-day='6']{
    background: url("./images/saturday.jpg");
    background-size: cover;
    background-position: 0% 25%; 
}
.jumbotron[data-day='7']{
    background: url("./images/sunday.jpg");
    background-size: cover;
    background-position: 0% 22%; 
}

.description{
    white-space: pre-wrap;
}

.time-block{
    text-align: center;
    border-radius: 15px;
} @media(max-width: 767px) {
    .time-block{
        border-radius: 15px;
        margin: 10px 0px;
    }
}

.row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
}

.hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
}

.past {
    background-color: #d3d3d3;
    color: black;
}

.present {
    background-color: #ff6961;
    color: white;
    font-weight: bold;
}

.future {
    background-color: #77dd77;
    color: black;
}

.saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #06AED5;
    color: white;
}

.saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
}
